.container {
  display: grid;
  gap: 4px;
}

.region {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.regionTitle {
  font-weight: 600;
  font-size: 16px;
  width: 120px;
}

.prefectures {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
  margin-left: 0;
}

@media (max-width: 900px) {
  .region {
    grid-template-columns: 1fr;
  }

  .regionTitle {
    margin-bottom: 10px;
  }

  .prefectures {
    margin-left: 0;
    gap: 10px;
  }
}
