.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #f5f0e5;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 20px;
  }

  .title {
    font-size: 14px;
  }
}
